*{
  font-family: 'cool', verdana;
  text-decoration: none;
  font-family: inter;
}

.navbar{
  background: #39628c;
  font-family: inter;
  padding-left: 15px;
  padding-right: 15px;
  padding: 5px;
}

.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  margin-right: 20px;
}

.HomePageText{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.SearchPageText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.titleText{
  color: #39628c;
  font-size: 60px;
  font-family: serif;
  font-weight: 2000;
}

.titleSubtext{
  margin-top: 70px;
  color: #39628c;
  font-size: 50px;
  font-family: inter;
}

.mainPara{
  font-size: 30px;
  margin-right: 70px;
  margin-left: 70px;
}

.navbarlinks{
  list-style-type: none;
  display: inline-block;
}

.navbarlinks a{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

.navbarlinksactive{
  list-style-type: none;
  display: inline-block;
}

.navbarlinkshome a{
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
  color: white;
}

#selected a{
  color: #F8CEBF;
}

.button-container {
  text-align: center;
}

.card-container {
  text-align: center;
}

.search-button-container {
  text-align: center;
  margin-top: 20px;
}

.language-button {
  width: 300px;
  height: 150px;
  background-color: #D1EBE9;
  border: none;
  border-radius: 20px;
  color: #39628c; 
  font-size: 36px;
  cursor: pointer; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s;
  text-align: center;
  display: inline-block;
  font-family: Arial, sans-serif;
  margin: 10px;
}

#selected-langauge {
  background-color: #39628c;
  color: white;
}

.search-language-button {
  width: 200px;
  height: 90px;
  background-color: #D1EBE9;
  border: none;
  border-radius: 20px;
  color: #39628c; 
  font-size: 24px;
  cursor: pointer; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s;
  text-align: center;
  display: inline-block;
  font-family: Arial, sans-serif;
  margin: 10px;
}

.language-button:hover {
  background-color: #B2DFDB; /* Slightly darker blue on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Optional: Larger shadow on hover */
}

.progress-bar-container {
  margin-top: 10px;
  width: 80%;
  background-color: #385682;
  border-radius: 10px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-left: 160px;
}

.progress-bar {
  height: 20px;
  background-color: #5297FF;
  line-height: 20px;
  color: white;
  text-align: right;
  border-radius: 10px;
  padding-right: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.content-container{
  background-color: #eeeeee;
  width: 80%; 
  height: 80vh; /* added height for scroll bar in content container */
  margin: 10px auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 10px;
  padding-bottom: 1px;
  overflow: auto; /* added scroll bar in content container */
}

.content-container-title {
  grid-column: 1 / -1;
  padding: 10px;
  margin-top: 10px;
}

.content-container-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: baseline; 
}

.content-container-left,
.content-container-right {
  display: flex;
  align-items: baseline; 
}

.content-container-right i, .content-container-left i {
  display: flex;
  align-items: baseline;
  justify-content: left;
  font-size: 18px;
  width: 30px;
  color: #39628c;
  padding-right: 5px; 
}

.content-title {
  color: black; 
  font-size: 40px;
  margin-top: 10px; 
  margin-bottom: 5px;
}

.content-subtitle {
  color: #385682; 
  font-size: 32px;
  margin-top: 10px; 
  margin-bottom: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.content-info {
  color: black;
  line-height: 1.6;
  padding: 4px 0;
  text-align: left;
  display: inline;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.content-bullet {
  color: black;
  line-height: 1.6;
  padding: 4px 0;
  margin-left: 40px;
  text-align: left;
  display: list-item;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.hidden {
  display: none !important;
}

.in-text-hyperlink {
  text-decoration: underline;
  text-decoration-color: #F8CEBF;
  color: #39628c; 
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.continue-button {
  width: 200px;
  height: 40px;
  background-color: #39628c;
  border: none;
  border-radius: 5px;
  color: white; 
  font-size: 20px;
  cursor: pointer; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s;
  text-align: center;
  display: inline-block;
  font-family: Arial, sans-serif;
  margin: 10px;
  margin-top: 20px;
}

.progressbar-bottom {
  width: 90%;
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  background: #E6E6E6; /* Light gray background */
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  margin-top: 20px;
}

.progressbar-bottom li {
  flex: 1;
  text-align: center;
  padding: 10px 5px;
  cursor: pointer;
  background: #dddddd;
  color: #3B5998;
  transition: background-color 0.3s;
  border-right: 2px solid white; /* White border between items */
  font-size: 17px;
}

.progressbar-bottom li.active {
  color: white;
  background: #3B5998;
}

/* Hover effect */
.progressbar-bottom li:hover {
  background: #6B85D6; /* Slightly lighter blue on hover */
}

.question {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center; 
  justify-content: center;
  margin: auto;
  border-style: solid;
  border-width: 4px;
  border-color: #3B5998;
  border-radius: 10px;
  width: 95%;
  padding-left: 20px;
}

.question-head {
  color: black;
  line-height: 1.6;
  padding: 4px 0;
  margin-left: 10px;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.question-sub {
  color: black;
  line-height: 1.6;
  padding: 4px 0;
  margin-left: 10px;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 20px;
}


.birthdate {
  font-family: Arial, sans-serif;
  font-size: 22px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.medicare-visual{
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}

.card {
  background-color: #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 500px;
  margin: 40px;
  text-align: center;
  display: inline-block;
}


#search-icon {
  font-size: 180px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #8e959b;
}

.card-content h1 {
  color: #39628c;
  margin-bottom: 15px;
}

.card-content p {
  margin-top: 25px;
  color: #39628c;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: Arial, sans-serif;
}

.btn {
  width: 300px;
  height: 60px;
  background-color: #39628c;
  border: none;
  border-radius: 10px;
  color: #ffffff; 
  font-size: 20px;
  cursor: pointer; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s;
  text-align: center;
  display: inline-flex;
  font-family: Arial, sans-serif;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #6B85D6;
}